<div class="p-8" fxLayout="column">

  <mat-card>
    <mat-card-header>
      <mat-card-title> Assignment for hiring of Sr Frontend Developer - ADNAN HAIDER </mat-card-title>
      <mat-card-subtitle>Here is the Answer of First Question</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">

        <ol fxFlex=60>
          <li> VS Code is a free editor from Microsoft, unlike the Visual Studio IDE. </li>

          <li>
            No need to switch between Command Line Interface and the IDE to know if the build process had failed, as you
            can
            see your favourite terminal under the Terminal window.
          </li>

          <li>
            <p>
              The availability of <strong>
                Extensions
              </strong> like Debugger for Chrome, TSLint, etc for VS Code IDE which can be installed.
              VS Code provides recommends extensions that can be used under the Extension tab and we easily install and
              use
              them in a matter of 2 mouse clicks.
              The Debugger For Chrome extension is very useful as I had been switching between the IDE and browser to
              run
              the
              application and search for the component file in source tab of the Chrome developer tools and looking for
              the
              line of code to set the breakpoint. But this Debugger allows to set the breakpoint right within the IDE as
              we
              used to do while doing server side coding in .net.
              You could refer the angular-tutorial for the steps to integrate the Debugger and get going.
              Extensions like TSLint, JSLint, etc. can save you time that we otherwise spend in recognizing the script
              issues
              at runtime in the browser (error console).
            </p>
          </li>

          <li>
            One more benefit of the Extensions, you could install productive tools like Angular v5 TypeScript Snippets,
            which will insert the frequently used code snippets.
          </li>

          <li> You could split and have upto 3 files open side by side while making your code changes. </li>

        </ol>
      </div>
      <span class="p-8">
        Also click <a href="https://johnpapa.net/rec-ng-extensions/" style="color: rgb(113, 113, 247);"> here </a> for
        more detail.
      </span>
    </mat-card-content>

  </mat-card>

</div>
